::ng-deep .cdk-global-scrollblock {
  overflow-y: unset;
}

mat-form-field input{
  border: none !important;
  box-shadow: none !important;
  margin: 0;
}
mat-form-field{
  width: 100%;
}
.label{
  font-size: 12px;
  margin-bottom: 10px;
}
.telephone{
  display: flex;
}
.telephone mat-form-field{
  width: 145px;
}
.telephone mat-form-field:last-child{
  width: 70px;
  margin-left: 20px;
}
mat-select{
  height: 25px;
}
.salle{
  display: flex;
}
.salleContent{
  width: 100%;
}
.fichiers{
  margin-bottom: 20px;
  padding-left: 20px;
}
.fichiersTitle{
  margin-bottom: 5px;
  display: flex;
}
.spacer{
  flex: 1;
}
button:focus{
  background-color: lightgrey;
}
.mat-dialog-content {
  overflow: visible;
  padding-bottom: 15px;
}
