span {
  margin-top: 10px;
}

.forma-container {
  display: flex;
  flex-direction: column;
}

.marginB {
  margin-bottom: 10px;
  font-size: 12px;
  color: #222222;
}

.header {
  display: none;
}

.marginLine {
  width: 100%;
}

mat-form-field input {
  border: none !important;
  box-shadow: none !important;
  /*caret-color: #757971 !important;*/
  height: 1rem;
}

.field {
  width: 100%;
}

.inputGroup.input input:focus {
  border-bottom: none;
  /*caret-color: #757971 !important;*/
}

mat-select {
  margin-top: 10px;
}

.btn {
  text-transform: none !important;
  color: black !important;
  margin-top: 0;
}

::ng-deep .error-message.mat-error.ng-star-inserted {
  font-size: 11px !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #757971 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #757971 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple) {
  background-color: black !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: black !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #222222 !important;
  height: 1px !important;
}

.radioGroup {
  display: flex;
}

.radio {
  padding-right: 10px;
}

.buttonsForm {
  text-align: right;

}

button {
  margin-right: 20px;
  border: 1px solid lightgrey;
  display: inline-block;
}

button:hover {
  background-color: lightgrey;
}

@media screen and (max-width: 425px) {
  .buttonsForm {
    text-align: center;

  }

  button {
    margin-bottom: 5px;
  }

  .forma-container {
    padding-top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: block;
  }
}
