<ul class="menu-admin z-depth-4">
  <li class="home"><a routerLink="/home">
    <img class="brand-logo" src="../assets/images/logo_white9.png">
  </a></li>
  <li><a routerLink="/admin/calendrier" routerLinkActive="active">Calendrier</a></li>
  <li><a routerLink="/admin/cv" routerLinkActive="active">CV des étudiants</a></li>
  <li><a routerLink="/admin/offres" routerLinkActive="active">Offres des employeurs</a></li>
  <li><a routerLink="/admin/inscriptions" routerLinkActive="active">Inscriptions</a></li>
  <li><a routerLink="/admin/utilisateurs" routerLinkActive="active">Utilisateurs</a></li>
  <li><a routerLink="/admin/a-propos" routerLinkActive="active">À propos</a></li>
  <li><a routerLink="/admin/postes" routerLinkActive="active">Postes</a></li>
  <li><a routerLink="/admin/actualites" routerLinkActive="active">Actualités</a></li>
  <li><a routerLink="/admin/centre-media" routerLinkActive="active">Centre médias</a></li>
  <li><a routerLink="/admin/carrousel" routerLinkActive="active">Carrousel</a></li>
  <li><a routerLink="/admin/bureaux" routerLinkActive="active">Bureaux</a></li>
  <li><a routerLink="/admin/locaux" routerLinkActive="active">Locaux</a></li>
  <li><a routerLink="/admin/salles" routerLinkActive="active">Salles</a></li>
  <li class="logout" (click)="logout()">Déconnexion</li>
</ul>
