span {
  margin-top: 10px;
}

.forma-container {
  display: flex;
  flex-direction: column;
}

.marginRow {
  margin-bottom: 0;
}

.small.material-icons {
  float: left !important;
}

mat-form-field input {
  border: none !important;
  box-shadow: none !important;
  height: 1rem;
}

.inputGroup.input input:focus {
  border-bottom: none;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  border-color: #757971 !important;
  background-color: #757971 !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #757971 !important;

}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: #757971 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #222222 !important;
  height: 1px !important;
}

.radioGroup {
  display: flex;
}

.radio {
  padding-right: 10px;
}

.buttonsForm {
  text-align: right;

}

button {
  margin-right: 20px;
  border: 1px solid lightgrey;
  display: inline-block;
}

.btn {
  text-transform: none !important;
  color: black !important;
  margin-top: 0;
}

.color {
  color: #039be5;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

::ng-deep.mat-form-field-infix {
  padding: 0;
  border-top: 0;
}

.marginT {
  margin-top: 20px;
}

.marginB {
  margin-bottom: 10px;
  font-size: 12px;
  color: #222222;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #757971 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #757971 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple) {
  background-color: black !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: black !important;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .buttonsForm {
    text-align: center;

  }

  button {
    margin-bottom: 5px;
  }

  .forma-container {
    padding-top: 15px;
  }
}

.header {
  display: none;
}

.marginLine {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .header {
    display: block;
  }
}
