<div class="menuContent center-align">
  <img class="responsive-img hide-on-med-and-up" src="../assets/images/selfie-time-four-international-students-450w-7054498661.jpg">
  <div class="container">
    <div class="row center-align menuTransfer">
      <a routerLink="/formations" class="menuElem">
        <span class="text waves-effect">Formations</span>
      </a>
      <a routerLink="/etudiants" class="menuElem">
        <span class="text waves-effect">Étudiants</span>
      </a>
      <a routerLink="/employeurs" class="menuElem" *ngIf="employeur">
        <span class="text waves-effect">Employeurs</span>
      </a>
      <a routerLink="/calendrier" class="menuElem">
        <span class="text waves-effect">Calendrier</span>
      </a>
    </div>
  </div>
</div>









