
<div class="carouselVisibility">
  <slideshow [height]="height"
             minHeight="400px"
             [autoPlay]="true"
             [showArrows]="true"
             [imageUrls]="[
                   {url: '../assets/images/slide-mapaq.jpg'},
                   {url: '../assets/images/slide-formation.jpg'},
                   {url: '../assets/images/slide-cours-offerts.jpg'},
                   {url: '../assets/images/slide-insertion.jpg'},
                   {url: '../assets/images/slide-offre-services.jpg'}
                   ]"
             [autoPlayWaitForLazyLoad]="true">
  </slideshow>
</div>





